@model TP_Lab5.Models.Records

@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Details</title>

    <style>
        p {
            color: white;
            font-size: 16px;
            background-color: #669;
            padding-left: 10px;
            width: 65px;
        }

        hr {
            height: 2px;
            background-color: #6678b1;
        }

        #S {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 16px;
            color: #039;
        }

        a {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            color: #669;
            text-decoration: none;
        }
    </style>

</head>

<body>

    <div id="S">

        <p>Детали</p>

        <hr />

        <dl class="dl-horizontal">

            <dt>

                @Html.DisplayNameFor(model => model.trname)

            </dt>

            <dd>

                @Html.DisplayFor(model => model.trname)

            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.model)

            </dt>

            <dd>

                @Html.DisplayFor(model => model.model)

            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.cathegory)

            </dt>

            <dd>

                @Html.DisplayFor(model => model.cathegory)

            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.vin)

            </dt>

            <dd>

                @Html.DisplayFor(model => model.vin)

            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.recedivs)

            </dt>

            <dd>

                @Html.DisplayFor(model => model.recedivs)

            </dd>


        </dl>

    </div>

    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |

    @Html.ActionLink("Отменить", "Index")

</body>

</html>